<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->

<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>View Vehicles</title>-->
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">-->
<!--    <script src = "https://code.jquery.com/jquery-3.5.1.js"> </script>-->
<!--    <script src = "https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"> </script>-->

<!--<script>-->
<!--    $(document).ready( function () {-->
<!--    $('#example').DataTable();-->
<!--} );-->
<!--</script>-->
<!--<style type="text/css">-->

<!--#category {-->
<!--	font-size: medium;-->
<!--}-->
<!--</style>-->
<!--</head>-->

{% include "datatable_bootstrap_header_1.html" %}
<tbody>

<form method="post" action="{% url 'business_report'  %}" method="post">
  {% csrf_token %}
<div align="right">
<label for="startdate"><h4>Date: </h4></label>
<input type="month" id="startdate" name="startdate" required>

<input type="submit" value="Submit" class="btn-hover color-7">
</div>

<div align="center">

<!--    *********************************************************-->
<!--                <h1 style="color: black;font-family:'Cooper Black'" >Total Vehicles Sold:&nbsp; {{ count }}</h1>-->
<!--            <h1 style="color: black;font-family:'Cooper Black'">Profit:&nbsp; {{ sum }} ₹</h1>-->
<!--   *********************************************************-->

<!--     *********************************************************-->
                <h1 style="color: black;font-family:'Tempus Sans'" class="display text-uppercase mb-1 rainbowhead">Total Vehicles Sold:&nbsp; {{ count }} <br>Profit:&nbsp; {{ sum }}₹</h1>
<!--            <h1 style="color: black;font-family:'Cooper Black'" class="display text-uppercase mb-5 rainbowhead">Profit:&nbsp; {{ sum }} ₹</h1>-->
<!--   *********************************************************-->


<!--        <tr align="center" ><th ><b>TOTAL VEHICLES SOLD:</b> {{ count }}</th></tr>-->
<!--        <tr align="center"><th>PROFIT: {{ sum }}</th></tr>-->
    </div>

  <div class="row m-t-5" >
                            <div class="col-md-12" >
                                <!-- DATA TABLE-->
                                <div class="table-data3" >




    <table id="example" class="display" style="width:100%" border="1">
<thead>
      <tr align="center">
        <th >Sl. No</th>
         <th >Brand Name</th>
        <th >Vehicle Name</th>
        <th >Vehicle Number</th>
        <th >Date</th>

      </tr>
</thead>


{% for x in bk %}

      <tr align="center">
         <td>{{forloop.counter}}</td>
          <td>{{ x.vehicle.vehiclename_id.brand.name }} </td>
          <td> {{ x.vehicle.vehiclename_id.name }}</td>
         <td>{{ x.vehicle.vehiclenumber }}</td>
          <td>{{ x.vehicle.updated_at }}</td>


      </tr>
{% endfor %}
<!--        <tr align="center" ><th colspan="5">TOTAL VEHICLES SOLD :{{ count }}</th></tr>-->
<!--        <tr align="center"><th colspan="5">PROFIT :{{ sum }}</th></tr>-->


  </table>
  </div>

</form>

</tbody>
{% include "datatable_bootstrap_footer.html" %}
<!--</html></title>-->
