<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" name="">
  <div align="center">
    <table width="343" height="537" border="1">

      <tr>
        <td width="208"><a href="{% url 'vehicle_management' %}">Vehicle Management</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'home_page_management' %}">Home Page Information</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'book_management' %}">Bookings</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'feedback_management' %}">Feedback Management</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'business_report' %}">Business Report</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'brand_management' %}">Brand Name Management</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'vehicle_name_management' %}">Vehicle Name Management</a></td>
      </tr>
      <tr>
        <td width="208"><a href="{% url 'logout' %}">Logout</a></td>
      </tr>








<!--      <tr>-->
<!--        <td width="208"><a href="">Home Page Information</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Bookings</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Feedback Management</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Business Report</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Brand Management</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Vehicle Name Management</a></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td width="208"><a href="">Logout</a></td>-->
<!--      </tr>-->

  </table>
  </div>

</form>
</body>
</html>
