<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
#category {
	font-size: medium;
}
</style>
</head>

<body>

<form method="post" action="{% url 'getbrand' %}" method="post">

                   {% csrf_token %}
<div align="right"><input name="brand" type="text" id="brand" align="right" /><input  type="submit" value="Add new" required/></div>
  <div align="center">


    <table width="360" height="190" border="1">

      <tr>
        <td width="73" height="69">Sl. No</td>
        <td width="185">Brand</td><td></td>
      </tr>
      {% for x in brnd %}
      <tr>
        <td>{{forloop.counter}}
         </td>
        <td>{{ x.name }} </td>
        <td><a href="{% url 'deletebrand' x.id %}">Delete</a> </td>
      </tr>
       {% endfor %}

  </table>
  </div>

</form>

</body>
</html>