<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--#category {-->
<!--	font-size: medium;-->
<!--}-->
<!--</style>-->
<!--</head>-->

<!--<body>-->

{% include "datatable_bootstrap_header.html" %}

<form method="post" action="{% url 'getvehiclename' %}" method="post">
                   {% csrf_token %}

  
<div align="center"><select name="brand" id="category" type="button" class="btn btn-outline-info dropdown-toggle">
  {% for br in brnd %}
    <option value="{{ br.id }}">{{ br.name }}</option>

   {% endfor %}
  </select>
   &nbsp; &nbsp;<input name="Vehicle Name" type="text" id="vehiclename" align="right" style="height: 37px; width: 300px " required pattern="[A-z 0-9]{3,}"/>&nbsp;
    <input  type="submit" value="Add new" class="btn-hover color-7" required/></div>
  <div align="center">


  <div class="row m-t-5" >
                            <div class="col-md-12" >
                                <!-- DATA TABLE-->
                                <div class="table-data3" >


    <table id="example" class="display" style="width:100%" border="0.5">
<thead>

      <tr align="center">
        <th width="90">Sl. No</th>
        <th  width="185">Vehicle Name</th>
          <th width="110" ></th>
      </tr>
</thead>

      {% for vn in vehiclename %}
      <tr align="center">
        <td>{{forloop.counter}}
         </td>
        <td>{{vn.name}} </td>
        <td><a href="{% url 'deletevehiclename' vn.id %}"   class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a> </td>
      </tr>
       {% endfor %}

  </table>
  </div>

</form>
</tbody>
{% include "datatable_bootstrap_footer.html" %}

<!--</body>-->
<!--</html>-->


