
{% include "datatable_bootstrap_header.html" %}

<tbody>
<form method="post" action="{% url 'addvehicle'  %}" method="post">
  {% csrf_token %}

 <div class="row m-t-5">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-data3">


    <table id="example" class="display"  style="width:100%" border="1"  class="table-primary">
<thead>
      <tr>
        <th width="73" height="69">Sl. No</th>
        <th width="185">Brand</th>
        <th width="185">Vehicle Name</th>
        <th width="185">Vehicle Number</th>
        <th width="185">VIN</th>
         <th width="185">KM</th>
        <th width="185">Year</th>
        <th width="185">CC</th>

        <th width="185">Description</th>
        <th width="185">Price</th>

        <th width="185">Image 1</th>
        <th width="185">Image 2</th>
         <th width="185">Image 3</th>
        <th width="185"><div align="center">
          <select name="brand" id="" class="btn btn-primary" >
            {% for br in brnd %}
            <option value="{{ br.id }}">{{ br.name }}</option>
            {% endfor %}
          </select>
        </div>&nbsp;&nbsp;<input  type="submit" value="Add new" class="btn-hover color-3" required/></th>
      </tr>
</thead>


{% for x in vehicles %}

      <tr>
        <td>{{forloop.counter}}</td>

        <td>{% for i in vname %} {% for br in brnd %}  {% if br.id == i.brand_id %} {% if i.id == x.vehiclename_id_id %}  {{ br.name }} {% endif %} {% endif %} {% endfor %} {% endfor %} </td>

        <td> {% for i in vname %} {% if i.id == x.vehiclename_id_id %}  {{ i.name }}  {% endif %} {% endfor %} </td>
        <td>{{ x.vehiclenumber }} </td>
        <td>{{ x.vin }} </td>
        <td>{{ x.km }} </td>
        <td>{{ x.year }} </td>
        <td>{{ x.cc }} </td>

        <td>{{ x.des }} </td>
        <td>{{ x.price }} </td>
        <td><img src="/media/{{ x.image1 }}"  width="100" height="100" /></td>
        <td><img src="/media/{{ x.image2 }}"  width="100" height="100" /></td>
        <td><img src="/media/{{ x.image3 }}"  width="100" height="100" /></td>
        <td><a href="{% url 'deletevehicle' x.id %} " class="btn btn-outline-danger" style="width: 100px">Delete</a> <a href="{% url 'gotoupdatevehiclepage' x.id %}" class="btn btn-outline-info" style="width: 100px" >Update</a> </td>


      </tr>
{% endfor %}

  </table>
  </div>

</form>



</tbody>

{% include "datatable_bootstrap_footer.html" %}
</html>