<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="{% url 'slot' %}" method="post">
  {% csrf_token %}
<div align="right"><select name="category" id="test"></select></div>
<table width="1393" border="1">
  <tr>
    <td width="62" height="57"><div align="center">Sl No</div></td>
    <td width="485"><div align="center">Slot</div></td>
    <td width="505"><div align="center">Strength</div></td>
    <td width="153"><div align="center">Status</div></td>
    <td width="154"><div align="center">
      <input type="submit" name="addtest" id="addslot" value="Add New" />
    </div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div align="center">
     <a href="{% url 'updateslot' %}" >Update</a>&nbsp;&nbsp
          <a href="{% url 'deleteslot' %}" >Delete</a>
    </div></td>
  </tr>
</table>


</form>
</body>
</html>
